 <header>
  <ul>
    <li><a class='navi' href="/">Home</a></li>
    <li><a class='navi' href="/about">About</a></li>
    <li><a class='navi' href="/contact">Contact</a></li>
    <li><a class='navi' href="/students">Students</a></li>
    <li><a class='navi' href="/add">Add</a></li>
    <li><a class='navi' href="/api/v.1.0/students">API</a></li>
</ul>
    </header>