body{
    background: yellowgreen;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

main, form{
 padding-top: 0.5rem;
  padding-right: 2rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
}

footer{
    background-color: black;
    color: whitesmoke;
    text-align: center;
    padding: 0.8rem;
    font-size: medium;
    font-weight: bold;
}

header{
    background-color: #00008b;
    padding-top: 0.3rem;
  padding-right: 1rem;
  padding-bottom: 0.3rem;
  padding-left: 1rem;
}
 ul{
     display: flex;
     list-style-type: none;
 }

 .navi{
    color: white;
    padding-left: 2rem;
    font-weight: bold;
    font-size: x-large;
 }

 .navi:hover{
    color: lightskyblue
 }

a{
    text-decoration: none;
    color: blue
}

a:hover{
 color: blueviolet
 
}


@media screen and (max-width: 600px) {
    ul{
        flex-direction: column;
    }
  }