body{
    background: yellowgreen;
}

main, form{
 padding-top: 0.5rem;
  padding-right: 2rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
}

footer{
    background-color: black;
    color: whitesmoke;
    text-align: center;
    padding: 0.5rem;
}

/*li{
    display: inline-block
}*/

/*a {
    text-decoration: none;
}*/


