<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/styles/main.css">
    <title>Add data Page</title>
</head>
<body>
    <%- include('../partials/navbar') %>
      <main>
        <h1>Add student</h1>
        <form action="/api/v.1.0/students" method="POST" >
         
            <div class="form-group">
              <label for="firstName">First Name</label>
              <input
                id="firstName"
                type="text"
                name="firstName"
                placeholder="First name" />
  ​
            </div>
            <div class="form-group">
              <label for="lastName">Last Name</label>
              <input
                id="lastName"
                type="text"
                name="lastName"
                placeholder="Last name" />
  ​
            </div>
            <div class="form-group">
              <label for="country">Country</label>
              <input id="country" type="text" name="country" placeholder="Country" />
  ​
            </div>
  ​
            <div class="form-group">
              <label for="age">Age</label>
              <input type="text" id="age" name="age" placeholder="Age" />
  ​
            </div>
  ​
            <div class="form-group">
              <label for="skills">Skills</label>
              <textarea type="text" id="skills" name="skills" cols="120" rows="5"
                value="Skills separated by comma..."></textarea>
  ​
            </div>
            
            <div class="form-group">
              <label for="bio">Your bio</label>
              <textarea id="bio" name="bio" cols="120" rows="10" placeholder="Bio"></textarea>
            </div>
  ​
  ​
            <button class="btn btn-primary" type="submit" id="submit-button">Add</button>
          </form>
      </main>
      <%- include('../partials/footer') %> 
</body>
</html>