<%- include('../partials/head') %>
    <title>Contact Page</title>
</head>
<body>
  <%- include('../partials/navbar') %>
    <main>
      <h1>Contact us</h1>
    </main>  
    <%- include('../partials/footer') %>    
</body>
</html>