<%- include('../partials/head') %>
<link rel="stylesheet" href="./assets/styles/main.css" />
<title>Express App</title>
</head>
<body>
      <%- include('../partials/navbar') %>
     <main>
    <h1>Home Sweet Home</h1>
    <img src='/assets/images/html_logo.webp' alt='HTML logo' /> 
 <img src='/assets/images/css_logo.png' alt='HTML logo' />
 <img src='/assets/images/js_logo.png' alt='HTML logo' />
  </main>
  <%- include('../partials/footer') %> 
</body>
</html>